/* select {
  width: 60%;
  padding: 0 10px;
}

select option {
  display: block;
  padding: 5px;
} */

.css-2b097c-container {
  width: 60%;
  height: 50px;
  font-family: "Roboto" !important;
  
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 6px 0px;
  font-size: 20px;
}

.css-2b097c-container input{
    display: none;
  /* margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle; */
}

.css-yk16xz-control {
    height: 100%;
    border-style: none;
    border-width: none;
    min-height: 20px;
}

.css-g1d714-ValueContainer {
  height: 100%;
  padding: 0px;
  position: none;
  display: none;
}

.css-1pahdxg-control {
  height: 100% !important;
  min-height: 20px;
  position: none;
}

/* .css-b8ldur-Input {
  height: 100%;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  visibility: hidden;
} */

