#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/currencies.jpg");
}

.App {
  display: flex;
  width: 800px;
  height: 400px;
  background-color: #8c8c8e;
  opacity: 0.8;
  box-shadow: 4px 4px 10px 0px;
  border-radius: 5px;
}

.exchange-wrapper,
.graphic-wrapper {
  flex-basis: 50%;
}

.exchange-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto";
  color: black;
}

.currencies-quantity {
  display: flex;
  height: 170px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.currencies-quantity input {
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 6px 0px;
  font-size: 20px;
}
