#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/currencies.jpg");
}

.app {
  display: flex;
  width: 80%;
  padding: 15px;
  justify-content: space-between;
  /*
    Если тебе нужен фон с прозрачностью используй цвета в rgba
    тк если будешь юзать опасити, то все элементы этого блока приобретут полупрозрачность
  */
  background-color: rgba(140, 140, 142, 0.8);;
  box-shadow: 4px 4px 10px 0px;
  border-radius: 6px;
}

.exchange-wrapper,
.graphic-wrapper {
  width: 48%;
}

.graphic-wrapper > div {
  border-radius: 5px;
}

.exchange-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.currencies {
  /* display: flex; */
}

.currencies .currency {
  display: flex;
  margin-bottom: 10px;
}

.currencies .currency + .currency {
  /* margin-left: 8px; */
}

.currencies .currency .select {
  width: 50%;
  cursor: pointer;
}

.currencies .currency input {
  width: 50%;
  margin-right: 8px;
  border-radius: 6px;
  flex-grow: 0;
  border: 1px solid hsl(0,0%,80%);
  text-indent: 4px;
  font-size: 20px;
}

.headers h1 {
  font-size: 50px;
}

.headers p {
  font-size: 20px;
}